# Игнорировать всё
*

# Но не игнорировать эти файлы и папки
!Images/
!Images/*
!*.bat
!*.tex
!*.eps
!*.txt
!*.md
!*.jpg
!*.jpeg
!*.png
!*.bmp
!*.svg
!include/
!.gitignore
!.github/
!.github/**
!*.sh
!dockerfile